/**
 * Based on http://dbwebb.se/coachen/en-navbar-med-drop-down-meny-i-ren-html-och-css
 * Changed to only style li-items instead of a.
 */
#navbar {
    padding: 0.4em;
    background-color: lightyellow;
    font-size: medium;
    border: 4px solid yellow;
}

.navbar {
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    border: 3px solid transparent;
    color: darkblue;
    position: relative;
}

.navbar a {
    display: block;
    width: 100%;
    padding: 0.45em 0.65em 0.45em 0.65em;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

.navbar li:hover {
    color: darkblue;
    border-color: darkred;
}

.navbar li.selected-parent,
.navbar li.selected {
    color: darkred;
    border-color: darkred;
}

.navbar ul ul {
    padding: 2px 6px 2px 0;
    position: absolute;
    left: -9999px;
    z-index: 2;
    background-color: #eee;
}

.navbar li li {
    width: 100%;
    border-top: none;
    border-left: 4px solid transparent;
}

.navbar li:hover ul {
    left: 0;
}

.navbar li li:hover {
    color: #666;
    border-color: #666;
}

.navbar li li.selected {
    color: #222;
    border-color: #222;
}

.navbar li.login {
    float: right;
    border: 3px solid transparent;
}

.navbar li.login:hover {
    color: darkred;
}
