/**
 * Based on http://dbwebb.se/coachen/en-navbar-med-drop-down-meny-i-ren-html-och-css
 * Changed to only style li-items instead of a.
 */
#navbar {
    margin-bottom: 44px;
    padding: 0.4em;
    background-color: lightyellow;
    font-size: medium;
    border: 4px solid yellow;
}

.navbar {
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    border: 3px solid transparent;
    color: darkblue;
    position: relative;
}

.navbar a {
    display: block;
    width: 100%;
    padding: 0.45em 0.65em 0.45em 0.65em;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

.navbar li:hover {
    color: darkblue;
    border-color: darkred;
}

.navbar li.selected {
    color: darkred;
    border-color: darkred;
}
