/*csslint floats:false */

/**
* Question-list
*/
.ask-question {
    float: right;
    font-size: large;
    padding: 5px;
    background-color: rgb(139, 0, 0);
    background-color: rgba(139, 0, 0, 0.19);
}

#questions {
    float: left;
    width: 728px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid darkblue;
}

#question-summary {
    padding: 12px 0 10px 0;
}

.statscontainer {
    width: 78px;
    float: left;
    margin: 10px;
}

.answers {
    display: block;
    background-color: rgb(0, 0, 139);
    background-color: rgba(0, 0, 139, 0.09);
    color: darkred;
    padding: 7px 0 5px 0;
    text-align: center;
    margin-top: 20px;
    border: 2px solid darkred;
}

.summary {
    float: left;
    width: 630px;
}

.summary h3 {
    color: darkblue;
    line-height: 1.3;
    margin-bottom: 1.2em;
}

.summary a {
    text-decoration: none;
}

.question-extract {
    padding-bottom: 5px;
    margin: 0;
}

.tags {
    line-height: 18px;
    float: left;
}

/*
*  Question
*/

#question {
    margin-left: 1em;
    margin-right: 1em;
    overflow: hidden;
}

#question h1 {
    margin-bottom: 1em;
    line-height: 1.3;
    color: darkblue;
}

.post-cell {
    width: 80%;
    overflow: hidden;
    float: left;
    border-bottom: 1px dotted darkred;
    margin-top: 5px;
    margin-bottom: 5px;
}

.post-text {
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    line-height: 1.3;
    float: left;
}

.post-info {
    display: inline-block;
    width: 100%;
    bottom: 5px;
    clear: both;
}

/*
*  For answer
*/

#answers {
    margin-left: 1em;
    margin-right: 1em;
    overflow: hidden;
}

#answers h1 {
    margin-bottom: 0.5em;
    line-height: 1.3;
    color: darkblue;
}

/*
*  For comments
*/

.comments {
    width: 550px;
}

.comment {
    display: inline-block;
    padding: 6px 6px 6px 20px;
    line-height: 1.3;
    border-top: 1px dotted darkred;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
}

.comment-text {
    display: block;
}

.comment-text p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.comment-user {
    white-space: nowrap;
    padding: 0;
}

.add-comment {
    clear: both;
}

.add-comment a {
    color: rgb(0, 0, 139);
    color: rgba(0, 0, 139, 0.36);
}

.add-answer {
    font-size: large;
    text-align: center;
    padding: 5px;
    margin-top: 0.5em;
    background-color: rgb(139, 0, 0);
    background-color: rgba(139, 0, 0, 0.19);
}

/*
*  For start-view
*/

.start-question {

    border-bottom: 1px solid darkblue;
    width: 98%;
    overflow: hidden;
}

.start-statscontainer {
    width: 58px;
    float: left;
    margin: 20px 10px 0;
}

.start-answers {
    display: block;
    background-color: rgb(0, 0, 139);
    background-color: rgba(0, 0, 139, 0.09);
    color: darkred;
    padding: 3px 0 3px 0;
    text-align: center;
    font-size: small;
    border: 2px solid darkred;
}

.start-summary {
    width: 100%;
    overflow: hidden;
}

.start-header {
    float: left;
    width: 80%;
}

.start-header h3{
    margin-bottom: 0;
    border:none;
}

.start-question-user-info {
    float: right;
    width: 50%;
    overflow: hidden;
    color: #848d95;

}

.start-user-action-time {
    float: left;
    font-size: small;
    text-align: right;
    white-space: nowrap;
    width: 49%;
}

.start-user-details {
    float: left;
    font-size: small;
    width: 49%;
    padding-left: 2px;

    color: darkblue;

}