/**
*  For user-list
*/

.page-allusers {
    width: 100%;
}

.user-cell {
    width: 25%;
    float: left;
}

.user-browser {
    overflow: hidden;
    margin-bottom: 1em;
    margin-top: 1em;
    border-bottom: 1px dotted darkblue;
}

.gravatar {
    float: left;
    height: 2.5em;
    box-shadow: 2px 2px 4px #848d95;
}

.userdetails {
    display: block;
    float: left;
    margin-left: 9px;
    width: calc(100% - (2.5em + 9px));
}

.joined-time {
    font-size: 12px;
    margin-bottom: 2px;
}

/**
*  For user-info
*/

#user {
    margin-left: 1em;
    margin-right: 1em;
    overflow: hidden;
}

.view-userbrowser {
    width: 35%;
    overflow: hidden;
    margin-bottom: 1em;
    margin-top: 1em;
    border-bottom: 1px dotted darkblue;
}

.view-gravatar {
    float: left;
    height: 5em;
    box-shadow: 2px 2px 4px #848d95;
}

.view-userdetails {
    display: block;
    float: left;
    margin-left: 1em;
}

.view-username {
    font-size: large;
}

.view-useremail {
    font-size: small;
}

.view-userpost{
    list-style-type: none;
}



/**
*  For question table
*/

.user-info {
    margin-top: 1px;
    width: 200px;
    float: right;
    line-height: 18px;
    color: #848d95;
    box-sizing: border-box;
    padding: 5px 6px 7px 7px;
    background-color: rgba(0, 0, 139, 0.09);
}

.user-action-time {
    margin-bottom: 2px;
    white-space: nowrap;
}

.avatar {
    float: left;
    height: 1.5em;
    box-shadow: 2px 2px 4px #848d95;
    border-radius: 1px;
}

.user-details {
    float: left;
    margin-left: 8px;
    margin-top: 4px;
    width: calc(100% - 40px);
    line-height: 17px;
    word-wrap: break-word;
    font-size: 1em;
    color: darkblue;
}


/**
*  For index-page: top users
*/

.start-user-browser{
    overflow: hidden;
    padding-bottom: 1em;
    border-bottom: 2px solid darkred;
}

.start-user-info{
    overflow: hidden;
    clear: left;
    padding-bottom: 1em;
}

.start-user-name{
    display: block;
    float: left;
    margin-top: 0.5em;
    margin-left: 0.5em;
}




/**
*For description lists
*/

dl {
    width: 75%;
    overflow: hidden;
    padding: 0;
    margin: 0
}

dt {
    float: left;
    width: 15%;
    padding: 0;
    margin: 0
}

dd {
    float: left;
    width: 85%;
    padding: 0;
    margin: 0
}